*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(1, 1, 57);
    text-align: center;
}

.container h1{
    font-size: 30px;
}

.container #logo{
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.container{
    background: white;
    width: 500px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 30px;
    transform: translate(-50%,-50%);
}

.container p{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.container input{
    height: 30px;
    border-radius: 5px;
    border: 2px solid black;
    font-weight: 700;
    width: 260px;
    font-size: 15px;
    margin-bottom: 15px;
}

.container button{
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: blue;
    height: 50px;
    width: 260px;
    font-weight: 700;
    font-size: 25px;
    color: white;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.container button:hover{
    height: 40px;
    width: 240px;
    font-size: 20px;
}

#qr-img{
    width: 200px;
    border-radius: 5px;
    overflow: hidden;
    transition: max-height 1s;
}

#qr-img img{
    width: 100%;
}

#qr-img.show-box{
    max-height: 300px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid black;
}

.error{
    animation: shake 0.1s linear 10;
}

@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}
